*
!.github
!.github/**
!.tests
!.tests/data
!config
!config/REAMDE.md
!config/config.yaml
!config/multiqc_config.yaml
!config/pep
!config/pep/config.yaml
!config/pep/samples.csv
!workflow
!workflow/*
!workflow/envs/*
!workflow/report/*
!workflow/rules/*
!workflow/scripts/*
!.gitignore
!.snakemake-workflow-catalog.yml
!LICENSE
!README.md