*
!.github
!.github/**
!.tests
!.tests/data
!config
!config/REAMDE.md
!config/config.yaml
!config/multiqc_config.yaml
!config/pep
!config/pep/config.yaml
!config/pep/samples.csv
!config/sample_file_generator.py
!workflow
!workflow/*
!workflow/envs/*
workflow/report/*
!workflow/rules/*
workflow/rules/metagenome_analysis.smk
workflow/rules/reporting.smk
workflow/scripts/*
!workflow/scripts/extract_plm_arg.py
!workflow/scripts/plot_resistance.py
!workflow/scripts/assembly_summary.py
!.gitignore
!.snakemake-workflow-catalog.yml
!LICENSE
!README.md